.tool-tip {
  position: relative;
  display: inline-block;
}

.tool-tip > img {
  width: 16px;
  margin: 0 10px;
}

.tool-tip .tool-tip-text {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}


.tool-tip:hover .tool-tip-text {
  visibility: visible;
  padding: 0.25rem;
}
