* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-blue: #7ebbf1;
  --second-blue: #c8e0f4;
  --black-text: #585858;
}

html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  overflow-x: hidden;
  background-color: #efefef;
}

ul {
  list-style-type: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

.no-style-button {
  border: none;
  background: none;
  font-size: 16px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

.login-snow-swap {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-family: "Lobster", cursive;
  color: var(--main-blue);
}

.login-btn-container {
  display: flex;
  justify-content: center;
}

.ss-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: var(--main-blue);
  min-width: 105px;
  min-height: 24px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  border: none;
  box-shadow: 0 0 0 2px white, 0px 0px 0px 4px var(--main-blue);
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 10px;
  overflow: hidden;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #7ebbf1;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #7ebbf1;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  font-size: 12px;
  padding: 0;
  border-width: 0;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #0000ff;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

/* .formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
} */

.li-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-margin {
  margin: 2rem 0 0 0;
}

.input-container {
  display: flex;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}

.profile-input-container {
  display: flex;
  margin: 0.5rem;
  align-items: center;
}

.input-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-blue);
  color: white;
  height: 31px;
  border-radius: 10px 0 0 10px;
  padding: 0 0.25rem;
  min-width: 95.78px;
}

.styled-input {
  border-radius: 0 10px 10px 0;
  border-top: solid rgb(100, 100, 100) 1px;
  border-right: solid rgb(100, 100, 100) 1px;
  border-bottom: solid rgb(100, 100, 100) 1px;
  border-left: none;
  height: 31px;
  padding: 0 0 0 0.25rem;
}

.register-input {
  border-radius: 10px 10px 10px 10px;
  border-top: solid rgb(100, 100, 100) 1px;
  border-right: solid rgb(100, 100, 100) 1px;
  border-bottom: solid rgb(100, 100, 100) 1px;
  border-left: solid rgb(100, 100, 100) 1px;
  height: 31px;
  padding: 0 0 0 0.25rem;
}

.login-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
  box-shadow: 2px 2px 10px;
  min-width: 260px;
  min-height: 320px;
  background-color: white;
  padding: 1rem 0;
}

.login-form > h1 {
  justify-self: center;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  will-change: opacity;
  z-index: -1;
}

.card-container {
  display: flex;
  overflow-x: scroll;
}

.swap-card {
  display: flex;
  flex-direction: column;
  height: 231px;
  width: 180px;
  position: relative;
  margin: 1.5rem 0.5rem;
  box-shadow: 2px 2px 6px 0 var(--black-text);
  background-color: white;
}

.swap-card > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
}

.title-lock {
  color: var(--black-text);
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
}

.days-until {
  color: var(--black-text);
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0.25rem 0.5rem;
}

.days-until > button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 5px;
}

.swap-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: var(--second-blue);
  font-size: 24px;
  font-weight: bolder;
  color: var(--black-text);
  min-height: 48px;
}

.add-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--black-text);
  font-size: 16px;
}

.icon-button {
  margin: 0 3px 0 10px;
}

.item-card {
  margin: 5px;
}

.card-cancel {
  height: 16px;
  width: 16px;
}

.description-button-container {
  display: flex;
  margin: 10px;
}

.description-button-container > img {
  margin: 0 5px;
}

.arrow-right {
  transform: rotate(0deg);
  transition: transform 0.2s ease;
}

.arrow-down {
  transform: rotate(90deg);
  transition: transform 0.2s ease;
}

.swap-description-container-show {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.2s ease;
  margin: 0 10px;
}

.swap-description-container-hide {
  height: 0px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.1s ease;
  margin: 0 10px;
}

.img-modal {
  top: 50%;
  left: 50%;
  padding: 5px;
  transform: translate(-50%, -50%);
  position: relative;
  outline: none;
}

.details-modal {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  position: relative;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  overflow-y: scroll;
  background-color: white;
  box-shadow: 0 0 10px var(--black-text);
  border-radius: 10px;
  outline: none;
}

.access-modal {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  position: relative;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 90%;
  height: auto;
  max-height: 70%;
  overflow-y: scroll;
  box-shadow: 0 0 10px var(--black-text);
  border-radius: 10px;
  outline: none;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease;
}

.ReactModal__Overlay--after-open {
  z-index: 1000;
  opacity: 1;
  transition: opacity 300ms ease;
  background-color: transparent;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transition: opacity 300ms ease;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.modal-button-container {
  display: flex;
  justify-content: center;
}

.detail-view-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0.5rem 1rem;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 15px;
  background-color: var(--main-blue);
  border-radius: 10px 10px 0 0;
  height: 2rem;
  width: 100%;
  z-index: 3;
}

.chip {
  display: inline-flex;
  background-color: var(--main-blue);
  color: white;
  padding: 4px 12px;
  border-radius: 32px;
  font-size: 12px;
  margin: 5px;
}

.chip-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header-title {
  color: white;
}

.item-user-img-container {
  display: flex;
  justify-content: space-between;
}

.round-frame {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  box-shadow: 0 0 0 2px white, 0 0 0 6px var(--main-blue);
  margin: 1rem;
}

.profile-img {
  width: 100%;
}

.round-frame-small {
  border-radius: 100%;
  width: 24px;
  height: 24px;
  overflow: hidden;
  box-shadow: 0 0 0 2px var(--main-blue);

  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img-small {
  width: 100%;
}

.seller-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.profile-info-container {
  display: flex;
}

.center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.center {
  justify-content: center;
}

.swap-admin-container {
  border-radius: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
}

.white-text {
  color: white;
  z-index: 0;
}

.swap-list {
  padding: 10px;
}

.smaller-btn {
  min-height: 10px;
  font-size: 12px;
}

.upgrade-user-container {
  padding: 10px;
}

.input-button-inline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-card {
  margin: 5px;
  width: 150px;
}

.add-button {
  height: 16px;
  width: 16px;
}

.img-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.25rem 0;
}

a {
  color: var(--black-text);
}

.swap-creation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
}

.button-container {
  display: flex;
}

.swap-uploader-preview {
  width: 200px;
  height: 200px;
  position: relative;
}

.swap-uploader-preview > img {
  width: 100%;
  height: auto;
  position: absolute;
}

textarea {
  resize: none;
  border-radius: 0 0 10px 10px;
  font-family: "Poppins", sans-serif;
  width: 100%;
  border-top: 0;
}

.textarea-container {
  width: 80%;
}

.switch-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 40px;
  height: 16px;
  background-color: #c2c2c2;
  border-radius: 15px;
  position: relative;
}

.switch-circle {
  border: white;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 5px;
  transition: 0.2s ease-in-out;
  position: absolute;
}

.switchprivate-body > .switch-circle {
  transform: translateX(18px);
  transition: transform 0.2s ease;
}

.switchprivate-body {
  background-color: var(--main-blue);
}

.private-public {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.swap-item-table-container {
  background-color: white;
  margin: 10px;
  border-radius: 10px;
}

.add-gear-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

th {
  text-align: start;
  padding: 0 0.5rem;
}

td {
  padding: 0 0.5rem;
}

.no-overflow {
  overflow-x: hidden;
}

.justify-end {
  justify-content: flex-end;
}

.code-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.smaller-text {
  font-size: 12px;
}

.conditional-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container > a {
  text-decoration: none;
}
