.card-container {
  display: flex;
  overflow-x: scroll;
}

.swap-card {
  display: flex;
  flex-direction: column;
  height: 160px;
  width: 160px;
  position: relative;
  margin: 1rem;
  border-radius: 5px;
  outline-width: 1px;
  box-shadow: 8px 8px 2px 1px rgba(36, 36, 36, 0.2);
}

.title-lock {
  color: white;
  text-shadow: 0 0 20px black;
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
}

.days-until {
  color: white;
  text-shadow: 0 0 20px black;
  position: absolute;
  bottom: 0;
  left: 0;
}
